<a href="https://colab.research.google.com/github/F4B123/pruebrep/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
import plotly

In [8]:
import IPython

from plotly.offline import iplot
import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly.offline import init_notebook_mode

In [9]:
def configure_plotly_browser_state():
  import IPython
  display(IPython.core.display.HTML('''
        <script src="/static/components/requirejs/require.js"></script>
        <script>
          requirejs.config({
            paths: {
              base: '/static/base',
              plotly: 'https://cdn.plot.ly/plotly-1.5.1.min.js?noext',
            },
          });
        </script>
        '''))

In [31]:
df = pd.read_csv('datasets_756571_1470005_race_wins_1950-2020.csv', sep=',', encoding='latin-1')

In [52]:
turbo_era = pd.read_csv('datasets_756571_1470005_race_wins_1950-2020.csv', sep=',', encoding='latin-1')
a = turbo_era['Unnamed: 0']
a = a[]
#a = a.tail(1)
a

0          0
1          1
2          2
3          3
4          4
        ...
1024    1024
1025    1025
1026    1026
1027    1027
1028    1028
Name: Unnamed: 0, Length: 1029, dtype: int64

In [46]:
df = df.tail(a.tail(1)-900)

ValueError: ignored

In [40]:
df.info('Unnamed: 0')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 900 to 1028
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  129 non-null    int64
 1   Venue       129 non-null    object
 2   Date        129 non-null    object
 3   Name        129 non-null    object
 4   NameTag     129 non-null    object
 5   Team        129 non-null    object
 6   Laps        129 non-null    float64
 7   Time        129 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 8.2+ KB

In [32]:
df = df.tail(129)
df

      Unnamed: 0             Venue  ...  Laps         Time
900          900         Australia  ...  57.0  1:32:58.710
901          901          Malaysia  ...  56.0  1:40:25.974
902          902           Bahrain  ...  57.0  1:39:42.743
903          903             China  ...  54.0  1:33:28.338
904          904             Spain  ...  66.0  1:41:05.155
...          ...               ...  ...   ...          ...
1024        1024     Great Britain  ...  52.0  1:28:01.283
1025        1025  70th Anniversary  ...  52.0  1:19:41.993
1026        1026             Spain  ...  66.0  1:31:45.279
1027        1027           Belgium  ...  44.0  1:24:08.761
1028        1028             Italy  ...  53.0  1:47:06.056

[129 rows x 8 columns]